html,body{
	margin:0;
	padding:0;
	height:100%;
}

body{
	/* dont compensate f navbar height when using affix */
	/*padding-top: 101px;*/
	position: relative;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #444;
}

P {
	line-height: 140%;
	margin: 0 0 1rem 0;
	padding: 0;
}

h2{
	font-size: 2rem;
}

a:hover {
	text-decoration: none !important;
}


/*----- STRUCTURE -----*/
#wrapper {
	min-height: 100%;
	position: relative;
	width: 100% !important;
	padding-left: 0px !important;
	/*padding-right: 0px;*/
}


/*----- HEADER -----*/
header {
	width: 100%;
	z-index: 1030;
}

.navbar-default,
.nav {
	border: none !important;
}

.navbar-default .navcontainer {
	width: 100%;
	background-color: #7a3675;
}

.navbar-header {
	height: 50px;
}

.brand-logo {
	float: left;
	width: 50px;
	max-width: 50px;
	height: 50px;
	background-image: url('http://marketplaceux.github.io/mow/img/base_favicon.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}
.brand-logo-txt {
	color: #fff;
	line-height: 50px;
	font-size: 14px;
}

.container>.navbar-collapse, 
.container-fluid>.navbar-collapse {
	background-color: #444; 
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited {
	padding: 0 10px 0 20px;
	font-size: 110%;
	line-height: 50px;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li.active>a:focus {
	color: #444 !important;
	background-color: #f1f1f1;
}

.navbar-default .navbar-nav>li.active>a {
	background-color: #0092ff;
	color: #fff !important;
}

.navbar-collapse {
	/* make sure menu is tall enough */
	max-height: inherit !important;
}

.navbar-collapse.in {
	overflow-y: visible;
	height: auto !important;
}

.navbar-nav {
	margin: 3.5px -15px !important;
}

.divider {
	height: 1px;
	margin: 9px 9px;
	background-color: #ebebeb;
}


/*----- SUBNAV -----*/
#sidebar-subnav {
	padding: 0px 10px 10px 10px;
}

.nav-stacked {
	border: 1px solid black !important;
}
.nav-stacked>li>a {
	color: #444;
}
.nav-stacked>li>a.active-subnav {
	background-color: #2d457e;
	color: #fff;
}



/*----- CONTENT -----*/
#content {
	background-color: white;
	padding: 60px 20px 0px 20px;
}

#content-main {
	padding: 0px 12px 80px 12px;
}

#content-main P {
	font-size: 140%;
}

#content-main h1.subnav {
	padding-top: 12px;
	border-top: 1px solid #888;
}

#content-main ul li {
	font-size: 120%;
	line-height: 140%;
	margin-bottom: 6px;
}

#content h6 {
	color: #2d457e;
}

.content-plain {
	padding-left: 0px;
}



/*----- FOOTER -----*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* fixed height */
  background-color: #f5f5f5;
  border-top: 1px solid #d7d7d7;
  padding-top: 16px;
  padding-bottom: 10px;
  margin-left: 0px !important;
}
footer p{
	border-left: 1px dotted #ccc;
	padding-left: 5px;
	font-size: .9em;
}


/*----- MISC -----*/
.btn-primary {
	background-color: #4d994d;
	border-color: #4d994d;
	border-radius: 0;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
	background-color: #005900;
	border-color: #005900;
}



/*----- MEDIA QUERIES -----*/


/* Small+ devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#content {
		padding-top: 130px;
	}
	.pre-header {
		background-color: #7a3675;
		height: 50px;
		margin-top: 0px !important;
	}
	.pre-header-ul {
		margin: 0 !important;
		padding: 0 0 0 0 !important;
		list-style: none !important;
	}
	.pre-header li {
		line-height: 50px;
	}
	.pre-header li.pull-right {
		margin-left: 20px;
	}
	.pre-header li a {
		color: #fff !important;
		float: left !important;
	}
	.brand-logo-txt {
		float: left;
	}
	a.pre-header-title,
	.pre-header li a {
		padding: 0 15px 0 15px;
	}

	a.pre-header-title:hover,
	a.pre-header-title:focus,
	.pre-header li a:hover,
	.pre-header li a:focus {
		color: #7a3675 !important;
		background-color: #f1f1f1;
	}
	.navbar-default .navcontainer {
		background-color: #f1f1f1;
		height: 50px;
	}
	.container>.navbar-collapse, 
	.container-fluid>.navbar-collapse {
		height: 50px !important;
		background-color: #f1f1f1;
	}
	.navbar-nav {
		margin-top: 0px !important;
		padding-left: 36px;
	}
	.navbar-default .navbar-nav>li>a, 
	.navbar-default .navbar-nav>li>a:visited {
		padding: 0 20px 0 20px !important;
		color: #444;
	}
	.navbar-default .navbar-nav>li>a:hover, 
	.navbar-default .navbar-nav>li>a:focus, 
	.navbar-default .navbar-nav>li.active>a:hover, 
	.navbar-default .navbar-nav>li.active>a:focus {
		background-color: #cbcbcb;
	}
	.navbar-default .navbar-nav>li.active>a:hover, 
	.navbar-default .navbar-nav>li.active>a:focus {
		color: #444 !important;
		background-color: #cbcbcb;
	}
	#content-main {
		/* adjusting margins for better readability */
		padding-right: 140px;
		padding-left: 80px;
	}
	#content-main h1.subnav {
		padding-top: 0;
		margin-top: 0;
		border: none;
	}

}



/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	
}



/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}







