body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:130px;
  width:200px;
  height:60px;
  font-family:'FiraSans-Regular', 'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:565px;
  height:51px;
  font-family:'FiraSans-Light', 'Fira Sans ExtraLight', 'Fira Sans';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:51px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:20px;
  top:86px;
  width:670px;
  height:18px;
  font-family:'FiraSans-Regular', 'Fira Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
