<p><a href="https://github.com/MarketplaceUX/mow/" title="Go to master branch">Follow this repo</a> to keep up with changes on this project!</p>

<p>Review the <a href="{{ site.baseurl }}/project" title="Go to Project">Project</a> and <a href="{{ site.baseurl }}/background" title="Go to Background">Background</a> materials before looking at the <a href="{{ site.baseurl }}/concepts" title="Go to Vision + Concepts">Vision + Concepts</a> and <a href="{{ site.baseurl }}/design" title="Go to Design">Designs</a> sections.</p>


<p><b>We're currently working on</b> 
	<ul>

		<li><a href="{{ site.baseurl }}/design/phase1" title="Go to Phase 1 Designs">Designs</a> for Phase 1</li>

		<li>More details of the <a href="https://www.dropbox.com/s/tvisa0cih2zlprf/MOW_Vision_CX_040215_small.pdf?dl=0" title="Go to Customer Experience Framework">Customer Experience Framework</a></li>
			
		<li>Describing the <a href="{{ site.baseurl }}/concepts/content.html" title="Go to Content Strategy">modular content system</a>.</li>

		<li><a href="{{ site.baseurl }}/concepts/scenarios.html" title="Go to People Scenarios">People scenarios.</a></li>

	</ul>

</p>


