<p><a href="https://github.com/MarketplaceUX/mow/" title="Go to master branch">Follow this repo</a> to keep up with changes on this project!</p>

<p>Review the <a href="{{ site.baseurl }}/project" title="Go to Project">Project</a> and <a href="{{ site.baseurl }}/background" title="Go to Background">Background</a> materials before commenting or providing feedback on other sections.</p>

<p><b>We're currently working on</b> 
	<ul>

		<li>Customer Experience Framework</li>
			
		<li>Describing the modular content system.</li>

		<li>User scenarios and flows.</li>

	</ul>

</p>

