<!--
Add lists of pages to the _config file.
Subnavs generated automatically using the code below.
You shouldnt need to touch this file.

For understanding:
node[1][0] = page url
node[1][1] = the page's section
node[1][2] = the page's subnav title
-->

{% for node in site.section_list %}

	{% if page.group == node[1][1] %}

		{% if page.url == node[1][0] %}

			<li>
				<a class="active-subnav" title="{{ node[1][2] }}" href="{{ site.baseurl }}{{ node[1][0] }}">{{ node[1][2] }}</a>
			</li>
		
		{% else %}

			<li>
				<a title="{{ node[1][2] }}" href="{{ site.baseurl }}{{ node[1][0] }}">{{ node[1][2] }}</a>
			</li>
		
		{% endif %}

		{% endif %}

{% endfor %}