<!--
Add section lists to the _config file, and add here if needed.
Subnavs generated automatically using the subnav_sectionX.html files.
You shouldnt need to touch those.
Though you may need to add one if you create a Section7 or beyond.
There is no subnav for the home landing page.
So there's no Section1.
-->

{% if page.group == "Section2" %}
	{--% include subnav_section2.html %--} 
	{% for node in site.section2_list %}

		{% if page.url == node[1] %}

			<li>
				<a class="active-subnav" title="{{ site.baseurl }}{{ node[0] }}" href="{{ node[1] }}">{{ node[0] }}</a>
			</li>
		
		{% else %}

			<li>
				<a title="{{ site.baseurl }}{{ node[0] }}" href="{{ node[1] }}">{{ node[0] }}</a>
			</li>
		
		{% endif %}

	{% endfor %}




{% endif %}

{% if page.group == "Section3" %}
	{% include subnav_section3.html %} 
{% endif %}

{% if page.group == "Section4" %}
	{% include subnav_section4.html %} 
{% endif %}

{% if page.group == "Section5" %}
	{% include subnav_section5.html %} 
{% endif %}

{% if page.group == "Section6" %}
	{% include subnav_section6.html %} 
{% endif %}
