<p><a href="https://github.com/MarketplaceUX/mow/" title="Go to master branch">Follow this repo</a> to keep up with changes on this project!</p>

<p>Review the <a href="{{ site.baseurl }}/project" title="Go to Project">Project</a> and <a href="{{ site.baseurl }}/background" title="Go to Background">Background</a> materials before commenting or providing feedback on other sections.</p>

<p><b><i>Visit the <a href="{{ site.baseurl }}/concepts" title="Go to Vision + Concepts">Vision + Concepts</a> section to see our latest work</i></b></p>

<p><b>We're currently working on</b> 
	<ul>

		<li>More details of the Customer Experience Framework</li>
			
		<li>Describing the <a href="{{ site.baseurl }}/concepts/content.html" title="Go to Content Strategy">modular content system</a>.</li>

		<li><a href="{{ site.baseurl }}/concepts/scenarios.html" title="Go to People Scenarios">People scenarios.</a></li>

	</ul>

</p>

