<header data-spy="affix">

<!-- content below is visible for ABOVE 768 -->
<div class="pre-header hidden-xs">
    <ul class="pre-header-ul">

        <li class="brand-logo-txt">
            <a class="brand-logo" target="_blank" href="{{site.masterbranchurl }}" title="See this project on Github" ></a>

            &nbsp;&nbsp;

            <a class="pre-header-title" target="_blank" href="{{site.masterbranchurl }}" title="See this project on Github" >Bringing Websites to Marketplace</a>
            
        </li>

        <li class="pull-right"><a target="_blank" href="https://wiki.mozilla.org/Marketplace/Marketplace_UX" title="See other Marketplace UX projects">Visit Marketplace UX Wiki</a></li>

        <li class="pull-right"><a target="_blank" title="See open issues for this project" href="{{site.openissuesurl }}">See Open Issues on <i style="font-size:100%;" class="fa fa-github"></i> Github</a><li>

    </ul>
</div>
<!-- end content visible for ABOVE 768 -->


<nav class="navbar navbar-default" role="navigation">

<div class="container-fluid navcontainer">

    <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#specnav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>

<!-- content only visible for BELOW 768 -->
            <p class="brand-logo-txt hidden-sm hidden-md hidden-lg"><a class="brand-logo" target="_blank" href="{{site.masterbranchurl }}" title="See this project on Github" ></a>&nbsp;&nbsp;Mobile-optimized Websites</p>
<!-- end content only visible to BELOW 768 -->

    </div>

<div class="collapse navbar-collapse" id="specnav">

    <ul class="nav navbar-nav">

        <li role="presentation" {% if page.group == 'section1' %}class="active"{% endif %}><a title="Home" href="{{ site.baseurl }}/">Home</a></li>

        <li role="presentation" {% if page.group == 'section2' %}class="active"{% endif %}><a title="Project Information" href="{{ site.baseurl }}/project">Project</a></li>

        <li role="presentation" {% if page.group == 'section3' %}class="active"{% endif %}><a title="Project Background" href="{{ site.baseurl }}/background">Background</a></li>

        <li role="presentation" {% if page.group == 'section4' %}class="active"{% endif %}><a title="Experience Strategy" href="{{ site.baseurl }}/strategy">Strategy</a></li>

        <li role="presentation" {% if page.group == 'section5' %}class="active"{% endif %}><a title="Concepts" href="{{ site.baseurl }}/concepts">Vision + Concepts</a></li>

        <li role="presentation" {% if page.group == 'section6' %}class="active"{% endif %}><a title="Design" href="{{ site.baseurl }}/design">Design</a></li>

        <li class="divider hidden-sm hidden-md hidden-lg" role="presentation"></li>

        <li class="hidden-sm hidden-md hidden-lg"><a target="_blank" title="See open issues for this project" href="{{site.openissuesurl }}">See Open Issues on <i style="font-size:100%;" class="fa fa-github"></i> Github</a><li>

        <li class="hidden-sm hidden-md hidden-lg"><a target="_blank" href="https://wiki.mozilla.org/Marketplace/Marketplace_UX" title="See other Marketplace UX projects">Visit Marketplace UX Wiki</a></li>

    </ul>

</div>

</nav>

</header>