<head>

<!-- META -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Project files for {{ site.name }}">
<meta name="author" content="{{ site.author }}">

<title>{{ page.title }}</title>

<!-- CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="{{ site.baseurl }}/css/templateStyles.css">

<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

<!-- Favicons -->
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

</head>