---
layout: spec_base

#You shouldn't need to do anything in this file.
#Create content .md files and they'll be pulled in.

---

<!-- start main content ROW -->
<div class="row row-offcanvas row-offcanvas-right" id="content">

  <div class="col-xs-12 col-sm-8 col-md-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="row" id="content-main">
      

      <h1>{{ page.title }}</h1>
      
      {{content }}


    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar-subnav" >
    <div class="list-group">
      {% include sidebar_subnav.html %}
    </div>
  </div>

</div>
<!-- end main content ROW -->






